type rmt_storage_debug_file, file_type;
type sysfs_gesture, fs_type, sysfs_type;
type debugfs_heaps_system, fs_type, debugfs_type;

# /carrier/qcril.db
type qcril_file,  file_type;

# /sys/class/leds/indicator/ModeRGB
type sysfs_flashlight, fs_type, sysfs_type;

# /sys/android_camera_awb_cal/*
type camera_cal_sysfs, fs_type, sysfs_type;


