allow mediaserver system_server:unix_stream_socket { connectto read write setopt };
allow mediaserver sensorservice_service:service_manager find;

allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver proc:file read;
allow mediaserver sysfs:file write;

