allow rild system_prop:property_service set;

allow rild qcril_device:dir { add_name write search };
allow rild qcril_device:file { create getattr open read write };
allow rild qcril_device:dir search;

allow rild qcril_file:dir search;
allow rild qcril_file:file { getattr ioctl lock open read write };
