# vim: ts=4 sw=4 sts=4 ft=sh fdm=marker
#
# Copyright blah, 2015. All rights derped.  {{{
# We are the borg, you will be assimilated.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# }}}


# Boot stages   {{{

on init
    # {{{

    # Create cgroup mount points for timer groups
    mkdir /dev/timer_group
    mount cgroup none /dev/timer_group timer_slack
    chown system system /dev/timer_group
    chown system system /dev/timer_group/cgroup.procs
    chown system system /dev/timer_group/tasks
    chmod 0660 /dev/timer_group/cgroup.procs
    chmod 0660 /dev/timer_group/tasks

    mkdir /dev/timer_group/bg
    chown system system /dev/timer_group/bg
    chown system system /dev/timer_group/bg/cgroup.procs
    chown system system /dev/timer_group/bg/tasks
    chmod 0660 /dev/timer_group/bg/cgroup.procs
    chmod 0660 /dev/timer_group/bg/tasks
    write /dev/timer_group/bg/timer_slack.min_slack_ns 100000000

    # }}}

on post-fs
    # {{{

    chown system carrier /carrier
    chmod 0771 /carrier

    restorecon_recursive /carrier
    restorecon_recursive /preload

    # change mode & owner of HTC Debug Driver node
    chown root system /proc/driver/hdf
    chmod 0664 /proc/driver/hdf

    # Probably the htc log daemon. We won't need it.
    # start hld

    # }}}

on post-fs-data
    # {{{

    mkdir /dev/radio 0770 radio radio

    # }}}

on boot
    # {{{

    ## HTC_PROCESS_DEBUG file to maintain the monitoring process list, change owner to system
    chown system /sys/process/task_comm_list

    # HTC SSD USB
    chown system radio /sys/class/android_usb/f_modem/on
    chown root usb /sys/class/android_usb/f_acm/baud_rate
    chown system system /sys/class/android_usb/f_diag/on
    chown system system /sys/class/android_usb/f_rmnet/on
    chown system system /sys/devices/platform/android_usb/usb_disable

    # HTC Embedded Log - BEGIN
    chown root root /devlog
    chmod 0700 /devlog
    chown root root /fataldevlog
    chmod 0700 /fataldevlog
    # HTC Embedded Log - END

    # HTC SSD Peripheral TOUCH - BEGIN
    # set touch permissions
    chown system system /sys/android_touch/unlock
    #chown system system /sys/android_touch/glove_setting

    #volume key wake up attribute file permission
    chown media media /sys/keyboard/vol_wakeup
    # HTC SSD Peripheral TOUCH - END

    # HTC set radio_feedback permissions
    chown radio radio /dev/radio_feedback
    chmod 0660 /dev/radio_feedback

    # For RIL to set htc_monitor_param permission
    chown radio radio /sys/htc_monitor_status/htc_monitor_param

    # Define TCP buffer sizes for various networks
    #   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default  4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.ethernet 524288,1048576,3145728,524288,1048576,2097152
    setprop net.tcp.buffersize.lte      524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.umts     58254,349525,1048576,58254,349525,1048576
    setprop net.tcp.buffersize.hspa     40778,244668,734003,16777,100663,301990
    setprop net.tcp.buffersize.hsupa    40778,244668,734003,16777,100663,301990
    setprop net.tcp.buffersize.hsdpa    61167,367002,1101005,8738,52429,262114
    setprop net.tcp.buffersize.hspap    122334,734003,2202010,32040,192239,576717
    setprop net.tcp.buffersize.edge     4093,26280,70800,4096,16384,70800
    setprop net.tcp.buffersize.gprs     4092,8760,48000,4096,8760,48000
    setprop net.tcp.buffersize.evdo     4094,87380,262144,4096,16384,262144

    #HTC SSD Security - set DRM permission
    chown drm system /dev/htcdrm
    chmod 0660 /dev/htcdrm

    # End boot stages }}}

# End boot stages }}}


# Services {{{

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1


# TODO: voidzero: these do exist on m8qlul, not sure if required though.
# Probably layer 2 vpn stuff.
service L2PE /system/bin/l2_profile_exchange handset softap.0
    user root
    group root
    disabled
    oneshot

service L2PE_BRCM /system/bin/l2_profile_exchange handset wl0.1
    user root
    group root
    disabled
    oneshot

# End services }}}


# Disabled stuff {{{

## voidzero: these two are almost equal to the default, but start zygote exits
## only in stock and not in the original implementation.
## TODO: Need to check with someone if this is required first.
#on property:vold.decrypt=trigger_restart_min_framework
#    start zygote
#
#on property:vold.decrypt=trigger_restart_framework
#    start zygote


## voidzero: this differs in that keystore is also restarted, the rest is equal
## to the original implementation.
## TODO: Need to check with someone if this is required first.
#service servicemanager /system/bin/servicemanager
#    class core
#    user system
#    group system
#    critical
#    onrestart restart healthd
#    onrestart restart zygote
#    onrestart restart media
#    onrestart restart surfaceflinger
#    onrestart restart drm
#    onrestart restart keystore

## voidzero: the ril-daemon differs in class (here core, CM main),
## also CM does not contain aepls001 and kipc sockets, and, it has
## less groups than CM.
## TODO: Need to check with someone if this is required first.
#service ril-daemon /system/bin/rild
#    class core
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    socket aepls001 stream 660 radio system
#    socket cfiat stream 660 radio inet
#    socket kipc stream 660 radio inet
#    user root
#    group radio cache inet misc audio log qcom_diag

## TODO: Need to check with someone if this is required first.
## stop zygote in T1 mode
#on property:ro.boot.ftm=1
#    setprop debug.sf.nobootanimation 1
#    stop zygote

## voidzero: more groups than the CM implementation, and here qcamerasvr
## is also restarted, this is not the case on CM.
## TODO: Need to check with someone if this is required first.
#service media /system/bin/mediaserver
#    class main
#    user media
#    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm qcom_diag radio cw_access graphics
#    ioprio rt 4
#    onrestart restart qcamerasvr

## voidzero: contains more groups than the CM implementation. Probably not
## required, hence disabled.
#service bootanim /system/bin/bootanimation
#    class core
#    user graphics
#    group system audio graphics cw_access carrier cache
#    disabled
#    oneshot

# Probably stands for HTC Log Daemon. We won't need it.
## SSD Tool, begin, support htcloglevel
#service hld /system/bin/hld
#    disabled
## SSD Tool, end ,support htcloglevel

# End disabled stuff }}}
