# Copyright (c) 2011-2013, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
import init.project.recovery.rc

on early-init
    mkdir /firmware 0771 system system
    mkdir /vendor 0771 system system
    mkdir /vendor/firmware 0771 system system
    symlink /data/tombstones /tombstones

on init
    export BOOTCLASSPATH ${BOOTCLASSPATH}:/system/framework/oem-services.jar:/system/framework/WfdCommon.jar
on fs
    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/bootdevice/by-name/cache
    mount ext4 /dev/block/bootdevice/by-name/cache /cache nosuid nodev barrier=1

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    write /sys/module/lpm_levels/system/performance/cpu0/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu1/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu2/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu3/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/power/cpu4/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/power/cpu5/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/power/cpu6/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/power/cpu7/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/power/power-l2-pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/performance/performance-l2-pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/system-cci-pc/suspend_enabled 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential_multi_core 3
    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 300000
    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 300000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_any_cpu_load 80
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root.system /sys/devices/system/cpu/cpu1/online
    chown root.system /sys/devices/system/cpu/cpu2/online
    chown root.system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online

 service rmt_storage /sbin/rmt_storage
    class core
    user root
    disabled

 on property:ro.boot.emmc=true
    start rmt_storage

 service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyHSUSB0

 service mfgsrv /sbin/mfgsrv -i -t /dev/ttyHSL0 -t /dev/ttyHSUSB1
    class core
    user root
    group root
    disabled

service fm_dl /system/bin/sh2 /system/etc/init.qcom.fm.sh
    class late_start
    user root
    group system fm_radio
    disabled
    oneshot

# import cne init file
#on post-fs
#    export LD_PRELOAD /vendor/lib64/libNimsWrap.so

on boot
    # Temp disable 3 cpus to prevent heat
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    chmod 444 /sys/devices/system/cpu/cpu1/online
    chmod 444 /sys/devices/system/cpu/cpu2/online
    chmod 444 /sys/devices/system/cpu/cpu3/online

    #write /sys/kernel/boot_adsp/boot 1
    exec /system/bin/sh2 /init.htc.audio.sh

    setprop wifi.interface wlan0
